<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
<head>
    <title>Home</title>
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="plugins/overlayScrollbars/css/OverlayScrollbars.min.css">

</head>
<body class="hold-transition layout-top-nav">
<div class="wrapper">
    <!-- Navbar -->
    <!--    <nav th:insert="layout :: navbar"></nav>-->
    <div th:replace="layout :: navbar"></div>
    <!-- /.navbar -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div layout:fragment="header">
            <div class="container">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Newsfeeds</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>

        <div layout:fragment="content">
            <div class="container">
                <div class="row">



                    <div class="col-12 col-sm-6 col-md-12" th:each="data : ${statusList}">
                        <div class="info-box">
                            <div class="post">
                                <div class="user-block">
                                    <span class="username">
                          <a href="#" th:text="${data.createdBy}"></a>
                          <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
                        </span>
                                    <span class="description" th:text="${data.getUpdatedDate().toString()+' at : ' + data.getLocation()}"></span>
                                </div>
                                <!-- /.user-block -->
                                <p th:text="${data.getMessage()}" class="col-md-12">
                                </p>

                                <p>
                                    <a href="#" class="link-black text-sm mr-2"><i class="fas fa-share mr-1"></i> Share</a>
                                    <a href="#" class="link-black text-sm"><i class="far fa-thumbs-up mr-1"></i> Like</a>
                                    <span class="float-right">
                          <a href="#" class="link-black text-sm">
                            <i class="far fa-comments mr-1"></i> Comments (0)
                          </a>
                        </span>
                                </p>

                                <input class="form-control form-control-sm col-md-12" type="text" placeholder="Type a comment">
                            </div>


                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>


                </div>
            </div>
        </div>


    <div th:replace="layout :: footer"></div>
<!--    <script>-->
<!--        var data = $("#modelAttr").val();-->
<!--        var success = data[0].charAt(0);-->
<!--    </script>-->
</div>
</div>
</body>
</html>
